.company-detail-company-overview h3 {
  font-weight: 550 !important;
  font-size: 18px;
}
.title {
  border-left: 5px solid #2766c4;
  padding-left: 8px;
}
.section-title h3 {
  font-weight: 550 !important;
  font-size: 18px;
}
.box-white {
  background: #fff;
  border: 1px solid #eee;
  border-radius: 5px;
  box-shadow: -1px 1px 6px rgb(0 0 0 / 5%);
  margin-bottom: 16px;
  padding: 24px;
}
.breadcrumb {
  background-color: #e5e5e5;
}
.company-cover {
  margin-bottom: 16px;
}
.cover-wrapper {
  height: 236px;
  overflow: hidden;
}
.img-responsive.cover-img {
  height: inherit;
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
}
.company-detail-overview {
  align-items: center;
  background: #fff;
  display: flex;
  padding-left: 24px;
  padding-right: 24px;
  position: relative;
}
#company-logo {
  height: 110px;
  margin-right: 24px;
  width: 140px;
}
#company-logo .company-image-logo {
  align-items: center;
  background: #fff;
  border: 5px solid #fff;
  border-radius: 10px;
  display: flex;
  height: 140px;
  justify-content: center;
  position: relative;
  top: -65px;
  width: 140px;
}
#company-logo .company-image-logo .img-responsive {
  border: 1px solid #eee;
  border-radius: 10px;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
}
.company-info {
  padding-top: 5px;
  word-break: break-word;
}
.company-info .company-detail-name {
  color: #333;
  font-size: 24px;
  margin-top: 0;
}
.d-flex {
  display: flex !important;
}
.company-info .website {
  font-size: 15px;
  padding-right: 40px;
}
.company-info .company-size {
  white-space: nowrap;
}

.company-info .company-size,
.company-info .website {
  font-size: 18px;
  padding-right: 40px;
}
.padbot {
  padding-bottom: 16px;
}
.breadcrumb-list a,
span {
  font-size: 14px;
  color: #000;
}
.box-header {
  align-items: center;
  border-radius: 3px;
  display: flex;
  padding: 16px;
}
.box-header .company-logo {
  margin-right: 24px;
}

.box-header .box-info-job {
  flex-grow: 1;
}
.box-header .box-info-job .job-title {
  font-size: 22px;
  line-height: 29px;
  margin-bottom: 16px;
}
h1.job-title {
  margin-top: 0;
  font-size: 24px;
}

.box-header .box-info-job .company-title {
  margin-bottom: 8px;
}

.box-header .box-info-job .company-title a {
  color: #333;
  font-size: 18px;
  font-weight: 700;
}
.text-center {
  text-align: center;
}
.btn-topcv-primary {
  background-color: #5491ab;
  color: #fff;
}
.box-header .company-logo .box-company-logo img {
  max-height: 100% !important;
  -o-object-fit: contain;
  object-fit: contain;
  width: 75%;
}
.box-header .company-logo .box-company-logo {
  align-items: center;
  border: 2px solid #eee;
  border-radius: 75px;
  display: flex;
  height: 110px;
  overflow: hidden;
  width: 110px;
}
.box-info-job {
  border-radius: 3px;
  padding: 16px;
}
.box-title {
  border-left: 7px solid #2766c4;
  color: #333;
  font-size: 22px;
  font-weight: 700;
  margin: 0 0 16px;
  padding-left: 12px;
}
.box-info {
  background: #09989d0d;
  border-radius: 3px;
  margin-bottom: 8px;
  padding: 16px 16px 0;
}
.box-info p {
  color: #333;
  font-weight: 700;
  margin-bottom: 16px;
  -webkit-text-decoration-line: underline;
  text-decoration-line: underline;
}
.box-info .box-main {
  display: flex;
  grid-template-columns: 50% 50%;
  justify-content: space-evenly;
}
.box-info .box-main .box-item {
  display: flex;
  margin-bottom: 16px;
}
.box-info .box-main .box-item img {
  height: 32px;
  margin-right: 16px;
  width: 32px;
}
.box-info .box-main .box-item strong {
  font-weight: 700;
  color: #000;
}
.box-info-job .box-address {
  background: #09989d0d;
  border-radius: 3px px;
  padding: 16px;
}
.box-info-job .box-address p {
  color: #333;
  font-weight: 700;
  margin-bottom: 16px;
  -webkit-text-decoration-line: underline;
  text-decoration-line: underline;
}
.box-info-job .job-data h3 {
  color: #000;
  font-size: 18px;
  font-weight: 700;
}
strong {
  color: #000;
}
.content-tab {
  color: #000;
}
.dateline {
  padding: 12px;
  font-weight: 700;
}
#group-header {
  height: 180px;
  padding: 0 30px;
  margin-bottom: 15mm;
}
.fix_h {
  margin-top: 0px !important;
  background-color: #f1f2f6;
}
